// Basic Colors

$black: #000;
$white: #fff;
$red: #f00;
$green: #0f0;
$blue: #00f;
$yellow: #ff0;
$marine: #0ff;
$violet: #f0f;
$brown: rgb(70, 60, 47);

// Special Colors

$font-color: black;


// Design Colors

$primary: '';
$secondary: '';
$tertiary: '';

$primary-active: '';
$secondary-active: '';
$tertiary-active: '';

$primary-inactive: '';
$secondary-inactive: '';
$tertiary-inactive: '';
